html,
body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    background: url('../images/login_bg.jpg') no-repeat center;
    /* 铺满页面 */
    background-size: cover;
}

.logoimg {
    margin-top: 20px;
    margin-left: 95px;
}


/* 登陆区域 */

.loginAndRegBox {
    width: 400px;
    height: 310px;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #fff;
    /* 登录模块的居中 */
    transform: translate(-50%, -50%);
}

.title-box {
    height: 60px;
    background: url('../images/login_title.png') no-repeat center;
}

.reg-box {
    display: none;
}

.layui-form {
    padding: 0 30px;
}

.links {
    /* 添加一个右对齐的属性 */
    display: flex;
    /* 使用css3的弹性布局对齐方式 */
    justify-content: flex-end;
}


/* 使用子绝父相使其图标对齐 */

.layui-form-item {
    position: relative;
}


/* 字体图标绝对定位 */

.layui-icon {
    position: absolute;
    top: 10px;
    left: 10px;
}


/* 由于字体图标会和文本框内容重叠，设置padding */

.layui-input {
    padding-left: 30px;
}